fastapi==0.115.0
uvicorn[standard]==0.30.6
sqlalchemy==2.0.35
psycopg2-binary==2.9.9
pydantic==2.9.2
pydantic-settings==2.5.2
python-dotenv==1.0.1
requests==2.32.3
groq
pyjwt==2.8.0
bcrypt==4.1.2
python-multipart==0.0.9
passlib==1.7.4
fpdf2==2.7.9
apscheduler==3.10.4
